#root {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 20fr 1fr;
    grid-template-areas: ". ." "footer footer";
    align-items: stretch;
    justify-items: stretch;
    height: 100vh;
    color: #463f3a;
}

main {
    background: white;
    background: radial-gradient(
        circle,
        white 0%,
        rgba(250, 250, 235, 1) 95%
    );
}
