.yellow {
    background-color: var(--card-yellow);
}

.blue {
    background-color: var(--card-blue);
}

.pink {
    background-color: var(--card-pink);
}

.green {
    background-color: var(--card-green);
}

.kudos-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 10px;

    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.5);

    cursor: pointer;
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.kudos-card-image {
    height: 100%;
    border-style: solid;
}

.image-container {
    flex: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.upvotes {
    text-align: right;
    font-weight: 600;
}

.card-button-container {
    position: absolute;
    transform: translateX(200px) translateY(-20px);
}

.card-button {
    border-radius: 50%;
    border-style: solid;
    cursor: pointer;
    padding: 5px;
}

.heart {
    border-color: #ff392b;
}

.heart:hover {
    background-color: #ffb7b2;
}

.active {
    background-color: #48cae4;
}

.card-button:active {
    transform: scale(0.9);
}

.trash {
    border-color: #5a6670;
}

.trash:hover {
    background-color: #bbc3c9;
}

.pin {
    border-color: #00b4d8;
}

.pin:hover {
    background-color: #90e0ef;
}

.pinned {
    border-style: dotted;
    border-width: 4px;
    border-color: #00b4d8;
}

@media (max-width: 800px) {
    .kudos-card {
        max-width: 200px;
    }

    .card-button-container {
        transform: translateX(150px) translateY(-20px);
    }
}
