.create-button {
    background-color: var(--board-button-bg);
    padding: 20px;
    border-radius: 30px;
    font-weight: 600;
    border-style: solid;
    border-color: var(--board-button-border);
}

.create-button:hover {
    background-color: var(--board-button-highlight);
}