.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 20px;
}

.filter {
    color: var(--text-color);
    padding: 5px;
    background-color: var(--filter-bg);
    border-style: none;
    border-radius: 10px;
}

.filter:hover {
    font-weight: 800;
}

.active-filter {
    background-color: #3a5a40;
    color: white;
    font-weight: 800;
}