footer {
    grid-area: footer;

    background: #fefae0;
    background: linear-gradient(
        90deg,
        rgba(254, 250, 224, 1) 0%,
        rgba(250, 237, 205, 1) 59%,
        rgba(212, 163, 115, 1) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-style: solid;
    border-top-color: #ddb892;

    z-index: 2;
}

.footer-text {
    font-weight: 600;
    color: #463f3a;
}
