footer {
    grid-area: footer;

    background: var(--footer-background);
    background: linear-gradient(
        90deg,
        var(--footer-1) 0%,
        var(--footer-2) 59%,
        var(--footer-3) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-style: solid;
    border-top-color: var(--footer-3);

    z-index: 2;
}

.footer-text {
    user-select: none;
    font-weight: 600;
}

.mode-toggle {
    position: absolute;
    left: 20px;

    cursor: pointer;
}