header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
        180deg,
        var(--header-1) 0%,
        var(--header-2) 100%
    );

    padding: 10% 20px;

    border-right-style: solid;
    border-right-color: var(--header-border);

    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);

    z-index: 1;
}

@media (max-width: 800px) {
    header {
        padding: 10px;
        width: 100vw;
        gap:10px;
    }
}

