.search-container {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: stretch;
    gap: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2px
}

.buttons button {
    flex-grow: 1;
}

.search-input {
    width: 100%;
    border: none;
}